@font-face {
  font-family: Catamaran;
  src: url(fonts/Catamaran/catamaran/Catamaran-Medium.ttf);
}

@font-face {
  font-family: Pacifico;
  src: url(fonts/pacifico/Pacifico.ttf);
}

body {
  background-color: #FFFEF6;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 320px) {
  .hidden {
    display: none;
  }
  /*** HEADER ***/
  nav {
    position: absolute;
    height: 80px;
    width: 100%;
    margin-top: 60px;
    opacity: 0;
    left: 0;
    text-align: center;
    font-family: Catamaran, sans-serif;
  }
  .navLink {
    font-size: 15px;
    line-height: 40px;
    z-index: 10;
    position: relative;
    text-transform: uppercase;
    display: block;
    background: rgba(64,56,39,0.9);
    color: #ba9a56;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2px;
    padding-bottom: 5px;
    border-top: 1px solid #FFC74F;
    transition: color 0s 0.5s;
  }
  .container {
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
    padding: 0;
  }
  .logo {
    position: absolute;
    left: 12px;
    width: 75px;
    margin-top: 4px;
  }
  .logo img {
    width: 75px;
    height: 53px;
  }
  .burger {
    position: absolute;
    right: 12px;
    margin-top: 10px;
  }
  .header {
    height: 60px;
    width: 100%;
    background: url(img/navwood.jpg) center no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 700;
    overflow: hidden;
    transition: all 0.7s ease;
  }
  .headerPin {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 60px;
  }
  .openmenu {
    overflow: visible;
  }


  /*** SECTION ***/
  .section {
    padding: 60px 0 70px;
    background-size: 500px;
    background-repeat: no-repeat;
    color: #FFFEF6;
  }
  .beer {
    background-image: url(img/news.jpg);
  }
  .story {
    background-image: url(img/histoire.jpg);
  }
  .news {
    background-image: url(img/biere.jpg);
  }
  .about {
    background-image: url(img/houblon.jpg);
  }

  h2 {
    font-size: 60px;
    font-family: Catamaran, sans-serif;
    text-align: center;
    margin: 0 0 10px;
    text-transform: uppercase;
  }
  .bottle {
    width: 40px;
    margin: 10px 20px 0 10px;
    vertical-align: middle;
  }
  .uniq-beer {
    padding-left: 60px;
  }
  .title {
    font-family: Pacifico, sans-serif;
    color: #ba9a56;
    font-size: 30px;
  }
  .description {
    font-family: Catamaran, sans-serif;
    font-size: 25px;
    margin-right: 15px;
  }
  .story-logo {
    width: 100px;
  }
  .img-inline {
    overflow: hidden;
    width: 80%;
    height: 150px;
    border: 10px solid #000;
  }
  .img-inline img {
    width: 600px;
    margin: -75px 0 0 -100px;
  }
  .social {
    clear: both;
    list-style: none;
    padding: 20px 0;
  }
  .social li {
    list-style-type: none;
    float: left;
    display: inline;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 28px;
    margin-left: 10px;
    -webkit-transition: background .1s ease-in;
  }
  .social li a {
    color: black;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .section {
    background-size: 100%;
  }
  .img-inline {
    width: 90%;
  }
  .img-inline img {
    width: 850px;
    margin: -140px 0 0 -100px;
  }
  .person-1 {
    float: left;
    width: 50%;
  }
  .person-2 {
    float: right;
    width: 50%;
  }
}

/* Larger than tablet */
@media (min-width: 770px) {
  .logo {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    z-index: 10;
    width: 100%;
  }
  .logo img {
    width: 270px;
    height: 190px;
    transition: all 0.7s ease;
  }
  .burger {
    display: none;
  }
  .header {
    overflow: visible;
    height: 210px;
  }
  .navLeft {
    float: left;
    text-align: left;
    padding-left: 70px;
  }
  .navRight {
    float: right;
    text-align: right;
    padding-right: 70px;
  }
  .navLink {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    margin-top: -5px;
    border-top: none;
    text-decoration: none;
    padding: 0 20px;
    font-weight: bold;
  }
  .navLink:hover {
    color: transparent;
    -webkit-transition: none;
    transition: none;
  }
  .navLink::before, .navLink::after {
    content: attr(data-letters);
    position: absolute;
    top: 0;
    left: 0;
    color: #ba9a56;
    padding: 0 20px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, transform 0.5s;
  }
  .navLink:hover::before,
  .navLink:hover::after {
    color: #fff;
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, transform 0.5s;
  }
  .navLink::before {
    -webkit-clip-path: polygon(30% 0,100% 0%,100% 100%, 60% 100%);
    clip-path: polygon(30% 0,100% 0%,100% 100%, 60% 100%);
  }

  .navLink::after {
    -webkit-clip-path: polygon(30% 0,0% 0%, 0% 100%, 60% 100%);
    clip-path: polygon(30% 0,0% 0%, 0% 100%, 60% 100%);
  }

  .navLink:hover::before {
    -webkit-transform: translate3d(4px,1px,0);
    transform: translate3d(4px,1px,0);
  }

  .navLink:hover::after {
    -webkit-transform: translate3d(-4px,-1px,0);
    transform: translate3d(-4px,-1px,0);
  }
  .headerPin {
    padding-bottom: 210px;
  }
  nav {
    background: rgba(0,0,0,0.5);
    height: 60px;
    bottom: 0;
    line-height: 60px;
    opacity: 1 !important;
  }
  .section {
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .img-inline img {
    width: 1200px;
    margin: -235px 0 0 -60px;
  }
  .hasScrolled {
    transition: all 0.7s ease;
    height: 50px;
  }
  .hasScrolled header .logo {
    top: -6px;
  }
  .hasScrolled header .logo img{
    transition: all 0.7s ease;
    width: 75px;
    height: 53px;
    margin-top: 5px;
  }
  .uniq-beer p.title-beer, .uniq-beer p.description-beer {
    display: inline-block;
    margin: 0;
  }
  p.description-beer {
    max-width: 620px;
    vertical-align: middle;
  }
  p.title-beer {
    margin-right: 35px !important;
  }
  .product {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .uniq-beer {
    padding-left: 350px;
    padding-right: 350px;
  }
  .uniq-section {
    padding: 100px 350px 100px 350px;
  }
  p.description-beer {
    max-width: 865px;
  }
}
